<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- 공통 css -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/init.css'/>
    <link rel='stylesheet' href='/stylesheets/font.css'/>
    <link rel='stylesheet' href='/stylesheets/palette.css'/>
    <link rel='stylesheet' href='/stylesheets/blank.css'/>
    <link rel='stylesheet' href='/stylesheets/icon.css'/>
    <link rel='stylesheet' href='/stylesheets/public.css'/>

    <!-- Side Bar Css -->
    <link rel='stylesheet' href='/stylesheets/aside/aside.css'/>
    <link rel='stylesheet' href='/stylesheets/topbar/topbar.css'/>
    <link rel='stylesheet' href='/stylesheets/dashboard/companyInfo.css'/>

    <script src="/javascripts/constants/dashboard/LoadDashboardInfo.js"></script>
    <script src="/javascripts/constants/dashboard/DashboardDataInfo.js"></script>
    <script src="/javascripts/constants/dashboard/DashboardManager.js"></script>
    <!-- 공통 JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <!-- <script src="../setting.js"></script> -->

    <!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/javascripts/lib/chart.js"></script>
    
</head>
<body>
<div class="public_contents_div">
    <div class="wrap_left_aside" id="left_aside_menu">
        <div class="aside_title flex flex-j-center flex-a-center">
            <div class="margin-r-16">
                <img class="main_logo">
            </div>
            <div class="font-16b white-color">Coin</div>
            <div class="font-16b white-color margin-l-8 margin-r-16">Trend</div>
        </div>
        <div class="aside_menu">
            <div class="aside_category_div flex margin-t-40">
                <div class="aside_category font-14b white-color margin-l-16 flex flex-a-center">Coin Trend</div>
                <div class="aside_category_fold fold_category_icon" id="clovine_app_categori_arrowbtn"></div>
            </div>
            <table class="aside_public_table aside_menu_content" id="clovine_app_categori">
                <thead></thead>
                <tbody>
                <tr></tr>
                <tr class="select_item">
                    <td class="clovine_trend_icon margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu text-white">현물 트렌트</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                <tr>
                    <td class="networks_icon  margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu">선물 트렌드</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                <tr>
                    <td class="analytics_icon  margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu">업비트 트렌드 분석</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                <tr>
                    <td class="clovine_license_icon  margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu">빗썸 트렌드 분석</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                </tbody>
            </table>
            <div class="aside_category_div flex margin-t-40">
                <div class="aside_category font-14b white-color margin-l-16 flex flex-a-center">Wallet</div>
                <div class="aside_category_fold fold_category_icon" id="heaventree_app_categori_arrowbtn"></div>
            </div>
            <table class="aside_public_table aside_menu_content" id="heaventree_app_categori">
                <thead></thead>
                <tbody>
                <tr></tr>
                <tr>
                    <td class="clovine_trend_icon margin-lr-16"></td>
                    <td class="font-14b basic-font-color aside_menu">업비트 지갑추적</td>
                    <td class="font-14b basic-font-color"></td>
                </tr>
                </tbody>
            </table>
            <div class="aside_connector">
            </div>
        </div>
    </div>

    <div class="wrap_header flex flex-a-center padding-lr-40 background-color">
        <!--      <div class = "topbar_content text-left flex flex-a-center ">-->
        <!--        <div class = "news_time font-14n white-color margin-b-4 margin-l-32"># 9월 21일</div>-->
        <!--        <div class = "top_bar_vertical_bar gray-color margin-lr-16"></div>-->
        <!--        <div class = "news_title font-14n white-color margin-b-4 ">헤븐트리 실시간 트렌트 제공 서비스가 오픈되었습니다.</div>-->
        <!--        <div class = "news_sources font-14b white-color margin-b-4"></div>-->
        <!--      </div>-->
    </div>


    <div class="main_body_content">
        <div class="content_header_div">
            <div class="title_news_card block white-color font-20b background-font-color margin-b-16 padding-a-8">
                <div class = "flex" >
                    <div class="font-14b flex flex-a-center" >
                        <div style = "background-color:#667; border-radius: 8px; padding:4px;">
                            19:20
                        </div>
                    </div>
                    <div class="font-14b margin-l-4 flex flex-a-center">#</div>
                </div>
                <div class="font-12n flex flex-a-center">ddd</div> 
            </div>
        </div>
        <div class="first-line" style="display: flex">
            <div class="flex" style="width: 100%;display: block;">

                <div class="vertical-double-box">
                    <div class="small-card margin-r-12">
                        <div class="work_info_card padding-a-16">
                            <div class="card_title font-14b background-font-color margin-b-8">BTC/b
                            </div>
                            <div class = "flex" >
                                <div id = "upbit_BTC_krw" class="card_title font-20b  flex flex-a-center"></div>
                                <div id = "upbit_BTC_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                            </div>
                            <div id = "upbit_BTC_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                            <div class="font-12n margin-l-4 card_body_gray_color"></div>
                        </div>
                    </div>
                </div>
                <div class="vertical-double-box">
                <div class="small-card margin-r-12">
                    <div class="work_info_card padding-a-16">
                        <div class="card_title font-14b background-font-color margin-b-8">ETH/upbit
                            <div class="card_title font-14b background-font-color margin-b-8">
                            </div>
                            <div class = "flex" >
                                <div id = "upbit_ETH_krw" class="card_title font-20b flex flex-a-center"></div>
                                <div id = "upbit_ETH_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                            </div>
                            <div id = "upbit_ETH_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                            <div class="font-12n margin-l-4 card_body_gray_color"></div>
                        </div>

                    </div>
                </div>
                </div>
                <div class="vertical-double-box">
                    <div class="small-card margin-r-12">
                        <div class="work_info_card padding-a-16">
                            <div class="card_title font-14b background-font-color margin-b-8">XRP/upbit
                                <div class="card_title font-14b background-font-color margin-b-8">
                                </div>
                                <div class = "flex" >
                                    <div id = "upbit_XRP_krw" class="card_title font-20b flex flex-a-center"></div>
                                    <div id = "upbit_XRP_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div id = "upbit_XRP_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                                <div class="font-12n margin-l-4 card_body_gray_color"></div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="vertical-double-box">
                    <div class="small-card margin-r-12">
                        <div class="work_info_card padding-a-16">
                            <div class="card_title font-14b background-font-color margin-b-8">Dominance
                                <div class="card_title font-14b background-font-color margin-b-8">
                                </div>
                                <div class = "flex" >
                                    <div id = "upbit_XRP_krw" class="card_title font-20b flex flex-a-center"></div>
                                    <div id = "upbit_XRP_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                                </div>
                                <div id = "upbit_XRP_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                                <div class="font-12n margin-l-4 card_body_gray_color"></div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="second-line" style="display: flex">
                    <div class="vertical-double-box margin-t-40">
                        <div class="upbit_whale_card padding-a-16">
                                <div class="upbit_whale_card_content card_title font-14b background-font-color margin-b-8">UPBIT 실시간 고래 체결
                                    <div class="card_title font-14b background-font-color margin-b-8">
                                    </div>
                                    <div class = "block" id = "upbit_whale_alert">
                                        <div class = "crypto_icon"></div>
                                        <!-- <div id = "upbit_XRP_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div> -->
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="vertical-double-box margin-t-40">
                        <div class="upbit_whale_card padding-a-16">
                                <div class="upbit_whale_card_content card_title font-14b background-font-color margin-b-8">UPBIT 실시간 체결 강도 TOP 10
                                    <div class="card_title font-14b background-font-color margin-b-8">
                                    </div>
                                    <div class = "flex" >
                                        <div id = "upbit_XRP_krw" class="card_title font-20b flex flex-a-center"></div>
                                        <div id = "upbit_XRP_signed_change_rate" class="font-12n margin-l-4 flex flex-a-center"></div>
                                    </div>
                                    <div id = "upbit_XRP_acc_trade_volume_24h" class="font-12n flex flex-a-center"></div> 
                                    <div class="font-12n margin-l-4 card_body_gray_color"></div>
                                </div>

                        </div>
                    </div>
                </div>

                

        </div>
    </div>
</div>

</body>
</html>
