body {
    background-color: var(--background-font-color);
}
.card {
    display: inline-flex;
    width: 322px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.title_news_card{
    display: inline-block;
    width: calc(100% - 277px);
    height: calc(90px - 16px);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.news_card_title {
    height: 100%;
}
.coin-news-title {
    justify-content: center;
    background-color: #999;
    border-radius: 17px;
    padding: 8px;
    margin-top: 5px;
    height: 10px;
}

.coin-news-card{
    display: inline-flex;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.small-card{
    display: inline-flex;
    width: 250px;
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}

.middle-card {
    display: inline-flex;
    width: 382px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}

.vertical-card{
    display: inline-flex;
    width: 277px;
    height: 340px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}


.vertical-double-box {
    display: inline-grid;
}



.card_body {

}

.card_title{

}

.border_left_line{
    border-left: 3px solid rgb(37, 53, 100);
    padding-left: 8px;
}

.border_top_line{
    border-left: 1px solid rgba(160, 160, 160, 0.726);
}