body {
    background-color: var(--background-font-color);
}
.card {
    display: inline-flex;
    width: 322px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.title_news_card{
    display: inline-flex;
    width: 100%;
    height: calc(60px - 16px);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.news_card_title {
    height: 100%;

}

.small-card{
    display: inline-flex;
    width: 250px;
    height: 100px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.middle-card {
    display: inline-flex;
    width: 382px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.vertical-card{
    display: inline-flex;
    width: 277px;
    height: 340px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}


.vertical-double-box {
    display: inline-grid;
}



.card_body {

}

.card_title{

}