body {
    background-color: var(--background-font-color);
}
.card {
    display: inline-flex;
    width: 322px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.small-card{
    display: inline-flex;
    width: 277px;
    height: 164px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}
.middle-card {
    display: inline-flex;
    width: 382px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}
.vertical-card{
    display: inline-flex;
    width: 277px;
    height: 340px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;
}

.vertical-double-box {
    display: inline-grid;
}



.card_body {

}

.card_title{

}