.wrap_header{
    z-index: 1000;
    height: 50px;
}

/*.wrap_left_aside{*/
/*    background-color: #313a46;*/
/*    width: 270px;*/
/*    height: 100%;*/
/*    float: left;*/
/*}*/


.topbar_content{
    height: 35px;
    width: 40%;
    background-color: #424242;
    border-radius: 10px;
}

.top_bar_vertical_bar{
    height: 30%;
    border-right: solid 1px #6c757d;
}
/*@media all and (min-width: 1900px) {*/
/*    .public_search.channel_search {*/
/*        width: calc(100% - 380px);*/
/*    }*/
/*}*/
