.work_info_card {
    width: 100%;
    box-sizing: border-box;
}

.work_info_card:hover {
    box-sizing: border-box;
    border: solid 2px #575757;
    cursor: pointer;
    border-radius: 6px;
}


.upbit_whale_card {
    box-sizing: border-box;
    display: inline-flex;
    width: 300px;
    height: 350px;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 20px;

}

.upbit_whale_card:hover {
    box-sizing: border-box;
    border: solid 2px #575757;
    cursor: pointer;
    border-radius: 6px;
}


.upbit_whale_card_content{
    width: 100%;
}
.main_body_content{
    width: calc(100% - 318px);
    height: 100%;
    padding: 24px;
    background-color: #fafbfe;
    float: right;
    overflow:auto;
    border-top-left-radius: 20px;
}

.content_header_title{
    width: 100%;
    display: block;
}
.card_content{
    width: 200px;
    height: 200px;
}

.workchart_result_text {
    margin-bottom: 8px;
    width: 79px;
}

.chart_working {
    width: 16px;
    height: 16px;
    background-color: #BDBDBD;
}

.chart_not_working {
    width: 16px;
    height: 16px;
    background-color: #2E2EFE;
}


/*노트북 태블릿 화면 */
@media screen and (max-width: 1280px) {
    .main_body_content {
        width: calc(100% - 118px);
    }
    .aside_title {
        width: 250px;
        height: 54px;
    }
}

/*모바일 화면 */
@media screen and (max-width: 768px) {
    .main_body_content {
        width: calc(100% - 118px);
    }
    .aside_title {
        width: 250px;
        height: 54px;
    }
}