.work_info_card {
    width: 100%;
    box-sizing: border-box;
}
/* 
.work_info_card:hover {
    box-sizing: border-box;
    border: solid 2px #575757;
    cursor: pointer;
    border-radius: 6px;
} */


.upbit_whale_card {
    box-sizing: border-box;
    display: block;
    width: 340px;
    height: 350px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}

.upbit_whale_card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.upbit_mesumedo_card {
    box-sizing: border-box;
    display: block;
    width: 260px;
    height: 350px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}


.upbit_notice_card {
    box-sizing: border-box;
    display: block;
    width: 410px;
    height: 350px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(222 225 231) 2px 2px 4px;
    border-top: 4px solid rgb(9, 54, 135);
    border-radius: 4px;
}

.coin_news_info_card {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}


/* .upbit_whale_card:hover {
    box-sizing: border-box;
    border: solid 2px #575757;
    cursor: pointer;
    border-radius: 6px;
} */


.upbit_whale_card_content{
    width: calc(100% - 16px);
    height: 15%;
    position: relative;
    border-bottom: 1px solid rgb(212, 214, 220);
}
.main_body_content{
    width: calc(100% - 318px);
    height: 100%;
    padding: 24px;
    background-color: #fafbfe;
    float: right;
    overflow:auto;
    border-top-left-radius: 20px;
}

.detected_list_coin{
}

.content_header_title{
    width: 100%;
    display: block;
}
.card_content{
    width: 200px;
    height: 200px;
}

.workchart_result_text {
    margin-bottom: 8px;
    width: 79px;
}

.chart_working {
    width: 16px;
    height: 16px;
    background-color: #BDBDBD;
}

.chart_not_working {
    width: 16px;
    height: 16px;
    background-color: #2E2EFE;
}


/*노트북 태블릿 화면 */
@media screen and (max-width: 1280px) {
    .main_body_content {
        width: calc(100% - 118px);
    }
    .aside_title {
        width: 250px;
        height: 54px;
    }
}

/*모바일 화면 */
@media screen and (max-width: 768px) {
    .main_body_content {
        width: calc(100% - 118px);
    }
    .aside_title {
        width: 250px;
        height: 54px;
    }
}